* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("/imagens/estudo.jpg");
  background-attachment: fixed;
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 80vh;
  width: 100%;
  flex-direction: column;
}
.tit {
  color: rgb(226, 81, 29);
  font-size: 30px;

  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
  width: 80%;
  height: 110vh;
}

.box {
  width: 50%;
  height: 70%;
  background: rgba(200, 114, 114, 0.414);
  padding: 15px;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 7px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  display: flex;
}

.box form {
  width: 100%;
  height: 100%;
}

.box input {
  border-radius: 5px;
  border: none;
  outline: none;
}

.box input:focus,
select:focus {
  background: lightcyan;
  border: none;
  outline: none;
}

.box form input[type="submit"] {
  padding: 10px 30px;
  background: rgb(255, 153, 0);
  color: black;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.box form input[type="submit"]:hover {
  padding: 10px 30px;
  background: rgb(0, 255, 255);
  color: black;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
