* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Desktop */

body {
  background: rgb(25, 25, 25);
}

#videobg {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: fixed;
  right: 0;
  bottom: 0;
  background-size: cover;
  z-index: -1;
}

.rodape {
  width: 100%;
  background: rgba(177, 173, 173, 0.7);
  bottom: 0;
  position: fixed;
  padding: 20px;
  text-align: center;
}

.rodape h1 {
  color: #ccc;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rodape p {
  color: orange;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
  line-height: 20px;
  margin: 10px auto;
}

.rodape p span {
  color: white;
  font-weight: 600;
}

.rodape button {
  background: orange;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  margin: 10px auto 2px auto;
}

.rodape button:hover {
  background: white;
  color: orange;
}

/* Notebook*/

@media (max-width: 1400px) and (min-width: 1024px) {
  .rodape {
    width: 100%;
    background: rgba(177, 173, 173, 0.7);
    bottom: 0;
    position: fixed;
    padding: 20px;
    text-align: center;
  }

  .rodape h1 {
    color: #ccc;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .rodape p {
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    line-height: 20px;
    margin: 10px auto;
  }

  .rodape button {
    background: orange;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin: 10px auto 2px auto;
  }
}

/* Tablet*/

@media (max-width: 1024px) and (min-width: 700px) {
  .rodape {
    width: 100%;
    background: rgba(177, 173, 173, 0.7);
    bottom: 0;
    position: fixed;
    padding: 20px;
    text-align: center;
  }

  .rodape h1 {
    color: #ccc;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .rodape p {
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    line-height: 20px;
    margin: 10px auto;
  }

  .rodape button {
    background: orange;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin: 10px auto 2px auto;
  }
}

/* Mobile */

@media (max-width: 700px) {
  .rodape {
    width: 100%;
    background: rgba(177, 173, 173, 0.7);
    bottom: 0;
    position: fixed;
    padding: 20px;
    text-align: center;
  }

  .rodape h1 {
    color: #ccc;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
  }

  .rodape p {
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    line-height: 20px;
    margin: 10px auto;
  }

  .rodape button {
    background: orange;
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin: 10px auto 2px auto;
  }
}
